/* open source graph css */
svg {
    display: block;
    margin: auto;
}

.xaxis path,
.xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.xaxis text,
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

